{%extends 'main/base_generic.html'%}
{%block main_section1%}

{%for post in top%}
     <div >
      <img class=" mr-2 rounded" style="width:128px; height:128px;" src="{{post.BigImg.url  }}" align="left" >
     </div>
{%endfor%}

<div class="container-fluid" >

    <div class="row"  >
      <div class="col-sm-2 "  >
      <ul class="line" align="left">
          <li><a href="{% url 'category_game' %}">Games</a></li>
          <li><a href="{%url 'category_multi'%}">Multimedia</a></li>
          <li><a href="">Productivity</a></li>
          <li><a href="">Tools</a></li>
          <li><a href="">Health</a></li>
          <li><a href="">Lifestyle</a></li>
      </ul>
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>

<div align="middle">
{%for post in news%}
     <div  class="post" >
      <img class="" style="width:89px; height:89px;" src="{{post.SmallImg.url}}">
         <a class="p-2 text-dark" href="{% url 'news-detail' post.id%}"><h4>{{post.title}}</h4></a>
    <span class="text-muted">Скачано:{{post.download}}</span>
        </div>
{%endfor%}
</div>
<main class="container" >
 <div class="row">
        <div class="col-md-8">
            {%if messages%}
                {% for mess in messages%}
                <div class="alert alert-success">
                    {{mess}}
                </div>
                {% endfor %}
            {%endif%}
            {% block main_section%}
            {%endblock%}
        </div>
    </div>
{%endblock main_section1%}