body{
background:#fafafa
}
head{
background:#000000
}
.alert-light{
border-color:#bfbfbf

}
.sidebar-nav{
font-color:#bfbfbf
}
.line{
  transform: translate(-500px,200px);
  border-right: 2px solid #ccc ; /* Параметры линии */
  padding-left:10px;



}
.text-muted{
 border-bottom: 5px solid #000000; /* Параметры линии */
     /* Отступ слева */
    padding: 10px; /* Расстояние от линии до текста */
}
.post{
margin-top: 35px;
 margin-right: 550px;
}
.mr-2 rounded{
margin-left: 20px;
}
.download{
margin-left:120px;
color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}

